* {
    font-family: "Lato", sans-serif;
    color: #2d3c49;
    font-weight: 300;
}

hr {
    border: 1px solid #7d97ad;
    margin-top: 12px;
    margin-bottom: 24px;
}

a {
    font-size: 14px;
    word-wrap: break-word;
}

.container {
    padding-bottom: 16px;
}

.title-logo {
    max-width: 210px;
    margin-top: 30px;
}

.text-muted {
    color: #4b769a
}

.text-thin {
    font-weight: 100;
}

.title-super {
    font-size: 55px;
    margin: 30px 0px 20px 0px;
}

.main-image {
    margin-top: 0px;
    margin-bottom: 0px;
}

.proj figure {
    margin: 8px;
}

.proj-title {
    font-size: 19px;
    margin-top: 13px;
    margin-bottom: 0px;
    font-weight: 700;
}

.proj-cover-img {
    margin-top: 24px;
}

.modal-header {
    padding: 16px 0px 6px 0px;
}

.modal-header h3 {
    font-size: 27px;
}

.modal-body {
    padding: 28px 32px;
    font-size: 17px;
    text-align: justify;
}

.modal-body figure {
    margin: 0px;
}

.modal-body img {
    margin-bottom: 16px;
}

@media (min-width: 768px) {
    .title-logo {
        max-width: 240px;
        margin-top: 30px;
    }
    .title-text {
        text-align: right;
    }
    .proj-cover-img {
        margin-top: 10px;
    }
}
